* {
  font-family: 'Rye';
  font-weight: 100;
}

.timer {
  font-size: 36px;
  position: absolute;
  color: white;
  left: 50%;
  top: 10%;
}

.shot-log {
  position: absolute;
  opacity: 0;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  height: 95vh;
}

.high-noon {
  position: absolute;
  font-size: 90px;
  bottom: 50%;
  color: white;

  animation: ani-warning .5s 1;
}

@keyframes ani-warning {
  0% {
    transform: (1, 1)
  }

  50% {
    transform: scale(1.1, 1.1)
  }

  100% {
    transform: scale(1, 1)
  }
}

h2, img {
  pointer-events: none;
}